.portfolio {
    span {
        font-size: 35px;
        font-weight: 600;
    }
    .swiper {
        margin-top: 1vw;
        height: 41.6667vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .sideP {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
                width: 33.3333vw;
                height: 20.8333vw;
                background: white;
            }
        }
    }
}

@media (max-width: 820px) {
    .swiper {
        .sideP {
            gap: 20px !important;
            div {
                width: 39.0244vw !important;
                height: 24.3902vw !important;
                background: red !important;
            }
        }
    }
}
