.about {
  height: 100%;
  .title {
    font-size: 45px;
    font-weight: bold;
    color: #297585;
  }
  .aboutContent {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: calc(100% - 53px);
    .contLeft {
      .introduce {
        .introContent {
          padding: 20px 10px;
          font-size: 30px;
          color: #a6a6a6;
          span {
            color: #297585;
            font-weight: bold;
            font-size: 32px;
          }
        }
      }
      .education {
        .eduTitle {
          font-size: 35px;
          font-weight: bold;
          color: #6b6b6b;
        }
        .eduContent {
          display: flex;
          padding: 0 10px;
          .eduCate {
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            font-size: 20px;
            color: #a6a6a6;
            .edu {
              color: #297585;
              font-size: 25px;
            }
          }
        }
      }
      .resume {
        display: flex;
        flex-direction: column;
        .resumeTitle {
          font-size: 35px;
          font-weight: bold;
          color: #6b6b6b;
        }
        a {
          button {
            margin: 10px 0;
            padding: 10px 20px;
            background: #297585;
            border-radius: 30px;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .contRight {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 30px;
        font-weight: bold;
        color: #6b6b6b;
        margin-bottom: 10px;
      }
      .info {
        font-size: 20px;
        margin-bottom: 10px;
        color: #a6a6a6;
      }
      img {
        transform: scaleX(-1);
      }
    }
  }
}

@media (max-width: 1655px) {
  .about {
    .aboutContent {
      .contLeft {
        .introduce {
          .introContent {
            font-size: 25px;
          }
        }
        .education {
          .eduContent {
            .eduCate {
              .edu {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
