.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: calc(100vh - 141px);
    div {
        display: flex;
        align-items: center;
        transform: translateY(-20%);
        gap: 20px;
        img {
            height: 300px;
            width: 300px;
            background-color: antiquewhite;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            font-size: 40px;
            font-weight: 600;
            width: 600px;
            text-align: center;
            white-space: pre;
        }
    }
}

@media (max-width: 884px) {
    .home {
        div {
            flex-direction: column !important;
            transform: none;
            img {
                height: 300px !important;
                width: 300px !important;
            }
            p {
                height: 60px;
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 428px) {
    .home {
        div {
            flex-direction: column !important;
            transform: none;
            img {
                height: 200px !important;
                width: 200px !important;
            }
            p {
                height: 60px;
                font-size: 25px;
            }
        }
    }
}
