.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 1034px;
  div {
    display: flex;
    align-items: center;
    transform: translateY(-20%);
    gap: 20px;
    img {
      height: 300px;
      width: 300px;
      background-color: antiquewhite;
    }
    p {
      font-size: 40px;
      font-weight: 600;
      width: 600px;
      text-align: center;
      white-space: pre;
    }
  }
}
