.dock {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    padding-bottom: 6px;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    will-change: contents;
    box-sizing: content-box;
    border-radius: 15px;
    transform-origin: center bottom;
}

@media (max-width: 428px) {
    .dock {
        gap: 6px !important;
    }
}
