body {
    font-family: "AppleSDGothicNeoM", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image: url(../public/images/backG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100%;
    max-width: 1920px;
}
body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 884px) {
    body {
        background-image: url(../public/images/backPad.jpg);
    }
}

@media (max-width: 428px) {
    body {
        background-image: url(../public/images/backMobile.jpg);
    }
}
