.portfolio {
  .teamP {
    display: flex;
    justify-content: center;
    gap: 100px;
    a {
      width: 600px;
      height: 375px;
      background: white;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      width: 560px;
      height: 375px;
      background: white;
    }
  }
  .sideP {
    .portfilioSlide {
      background: white;
    }
    .slides {
      a {
        width: 400px;
        height: 250px;
        background: white;
      }
    }
  }
}
